@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #F5F5F5;
  color: #444444;
}

.primary-btn {
  background-color: #40ceb2;
  color: #fff;
  font-weight: 700;
  padding: .6rem 1rem;
  font-size: 1.4rem;
  border: 0;
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-box-shadow: 0 0px 2px rgba(53, 0, 0, 0.3);
          box-shadow: 0 0px 2px rgba(53, 0, 0, 0.3);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.primary-btn:hover {
  background-color: #0f9278;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.link-button {
  background-color: #40ceb2;
  color: #fff;
  font-weight: 700;
  padding: .5rem 2rem;
  font-size: 1.4rem;
  border: 0;
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
  display: inline-block;
  -webkit-box-shadow: 0 0px 2px rgba(53, 0, 0, 0.3);
          box-shadow: 0 0px 2px rgba(53, 0, 0, 0.3);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.link-button:hover {
  color: #fff;
  background-color: #0f9278;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.add-cart, .buy-now {
  background-color: #40ceb2;
  color: #fff;
  font-weight: 700;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: 0;
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
  display: inline-block;
  -webkit-box-shadow: 0 0px 2px rgba(53, 0, 0, 0.3);
          box-shadow: 0 0px 2px rgba(53, 0, 0, 0.3);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.add-cart {
  margin-right: 2rem;
  background-color: #fff;
  color: #40ceb2;
  border: solid 0.2rem #40ceb2;
}

.add-cart:hover {
  color: #ff4d00;
  border-color: #ff4d00;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.buy-now:hover {
  background-color: #ff4d00;
  border-color: #ff4d00;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

h1, h2, h3, h4, h5, h6, p, span, strong, a {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.6rem;
}

.margin-none {
  margin: 0 !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label {
  color: #8b8b8b;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0rem;
  margin-left: .5rem;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before {
  border-color: #8b8b8b;
}

.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
  color: #8b8b8b;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0rem;
  margin-left: .5rem;
}

.custom-control-label::before {
  width: 1.5rem;
  height: 1.5rem;
  left: -2rem;
  top: 0.4rem;
}

.custom-control-label::after {
  position: absolute;
  top: 4px;
  left: -1.95rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #40ceb2;
  content: "";
  background: 50% / 50% 50% no-repeat;
}

.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before {
  border-color: #40ceb2;
  background-color: #40ceb2;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #40ceb2;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.1rem #0affd6;
          box-shadow: 0 0 0 0.1rem #0affd6;
}

.heading-every-section {
  background-color: #fff;
  padding: 2rem;
  padding-bottom: 2.5rem;
  -webkit-border-top-left-radius: 1rem;
          border-top-left-radius: 1rem;
  -webkit-border-top-right-radius: 1rem;
          border-top-right-radius: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
}

.heading-every-section h2 {
  color: #f5814f;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}

.heading-every-section h2:after {
  content: '';
  position: absolute;
  background-color: #40ceb2;
  height: .2rem;
  bottom: -7px;
  left: 0;
  width: 50%;
  z-index: 9999;
}

.heading-every-section h2:before {
  content: '';
  position: absolute;
  background-color: #40ceb2;
  height: .2rem;
  bottom: -3px;
  left: 0;
  width: 75%;
  z-index: 9999;
}

.heading-every-section a {
  font-size: 1.4rem;
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  padding: 0rem 2rem;
  border: solid 0.1rem #40ceb2;
  font-weight: 600;
  color: #40ceb2;
  line-height: 20px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.heading-every-section a:hover {
  color: #ff4d00;
  border-color: #ff4d00;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.top-banner-section {
  padding-top: 12rem;
}

.top-banner-section .banner-img {
  position: relative;
}

.top-banner-section .banner-img img {
  width: 100%;
  height: auto;
}

.top-banner-section .banner-img h2 {
  position: absolute;
  bottom: 5%;
  left: 3rem;
  font-size: 5rem;
  color: #fff;
  text-shadow: 0 3px 2px rgba(53, 0, 0, 0.3);
}

.category-section .heading-every-section {
  margin-bottom: 0;
}

.main-top-bar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.main-top-bar .top-bar {
  background-color: #40ceb2;
  height: 3rem;
  color: #fff;
}

.main-top-bar .top-bar .top-left-side .social-icon {
  width: 7rem;
}

.main-top-bar .top-bar .top-left-side .social-icon a {
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .top-bar .top-left-side .social-icon a i {
  font-size: 1.8rem;
}

.main-top-bar .top-bar .top-left-side .social-icon a:hover {
  color: #ff4d00;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .top-bar .top-right-side .login-area a {
  color: #fff;
  padding-left: 1rem;
  border-left: solid #fff 0.2rem;
  margin-left: 1rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .top-bar .top-right-side .login-area a i {
  font-size: 1.6rem;
  margin-top: 0.2rem;
  margin-right: 0.3rem;
}

.main-top-bar .top-bar .top-right-side .login-area a span {
  font-size: 1.3rem;
}

.main-top-bar .top-bar .top-right-side .login-area a .strong {
  font-weight: 700;
}

.main-top-bar .top-bar .top-right-side .login-area a:hover {
  color: #ff4d00;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .top-bar .top-right-side .login-area a:first-child {
  border-left: none;
}

.main-top-bar .search-bar {
  height: 6rem;
  background-color: #fff;
}

.main-top-bar .search-bar .contant-area {
  height: 100%;
}

.main-top-bar .search-bar .contant-area .logo-area {
  width: 25%;
}

.main-top-bar .search-bar .contant-area .logo-area a img {
  max-width: 20rem;
  width: 90%;
  height: auto;
}

.main-top-bar .search-bar .contant-area .search-area {
  width: 50%;
}

.main-top-bar .search-bar .contant-area .search-area .form-inline {
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.main-top-bar .search-bar .contant-area .search-area .form-inline input {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  background-color: #eaf5f1;
  padding-right: 3.8rem;
}

.main-top-bar .search-bar .contant-area .search-area .form-inline input:focus {
  border-color: #ff4d00;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
}

.main-top-bar .search-bar .contant-area .search-area .form-inline input::-webkit-input-placeholder {
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
}

.main-top-bar .search-bar .contant-area .search-area .form-inline input::-moz-placeholder {
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
}

.main-top-bar .search-bar .contant-area .search-area .form-inline input:-ms-input-placeholder {
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
}

.main-top-bar .search-bar .contant-area .search-area .form-inline input::-ms-input-placeholder {
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
}

.main-top-bar .search-bar .contant-area .search-area .form-inline input::placeholder {
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
}

.main-top-bar .search-bar .contant-area .search-area .form-inline .form-control {
  height: 4rem;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  border: solid 0.2rem #40ceb2;
}

.main-top-bar .search-bar .contant-area .search-area .form-inline .search-btn {
  height: 3.2rem;
  width: 3.6rem;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  position: absolute;
  background-color: #40ceb2;
  top: 0.4rem;
  right: 0.4rem;
  border: 0;
  -webkit-box-shadow: 0 0px 2px rgba(53, 0, 0, 0.3);
          box-shadow: 0 0px 2px rgba(53, 0, 0, 0.3);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .search-bar .contant-area .search-area .form-inline .search-btn i {
  color: #fff;
  font-size: 1.8rem;
}

.main-top-bar .search-bar .contant-area .search-area .form-inline .search-btn:hover {
  background-color: #ff4d00;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .search-bar .contant-area .search-area .form-inline button {
  width: 10%;
}

.main-top-bar .search-bar .contant-area .cart-area {
  width: 25%;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-icon {
  position: relative;
  padding: 16px 0;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-icon a {
  position: relative;
  display: inline-block;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-icon a i {
  font-size: 3rem;
  color: #40ceb2;
  text-shadow: 0 0px 2px rgba(53, 0, 0, 0.3);
}

.main-top-bar .search-bar .contant-area .cart-area .cart-icon a .item-count {
  position: absolute;
  top: -8px;
  right: -15px;
  width: 2.2rem;
  height: 2rem;
  -webkit-border-radius: 3rem;
          border-radius: 3rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  padding-top: 0.18rem;
  background-color: #ff4d00;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-icon:hover .cart-contain-area {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .search-bar .contant-area .cart-area a {
  text-decoration: none;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-contain-area {
  position: absolute;
  background-color: #fff;
  height: auto;
  width: 35rem;
  padding: 1.5rem 1rem;
  right: -16px;
  top: 55px;
  -webkit-box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
  border-bottom: solid 0.5rem #40ceb2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-contain-area .header-area {
  color: #acaaaa;
  margin-bottom: 1rem;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-contain-area ul a {
  display: block;
  text-decoration: none;
  color: #8b8b8b;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-contain-area ul a:first-child li {
  border-top: solid 0.1rem #cfcfcf;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-contain-area ul a:hover li {
  background-color: #eaf5f1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-contain-area ul li {
  border: solid 0.1rem #cfcfcf;
  border-top: 0;
  padding: 0.6rem 0;
  border-left: 0;
  border-right: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-contain-area ul li .product-details {
  width: 100%;
  height: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-contain-area ul li .product-details img {
  width: 4rem;
  height: 4rem;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-contain-area ul li .product-details .product-name {
  overflow: hidden;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-contain-area ul li .product-details .product-name h2 {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 1rem;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-contain-area ul li .product-details .product-price h2 {
  margin-left: 1rem;
  margin-right: 0.2rem;
  color: #ff4e00;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-contain-area ul li::marker {
  content: none;
}

.main-top-bar .search-bar .contant-area .cart-area .cart-contain-area::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  top: -11px;
  right: 20px;
  border: solid #d8d8d8 0.1rem;
  border-right: 0;
  border-bottom: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-top-bar .search-bar .contant-area .cart-area .user-profile-area {
  padding: 16px 0;
  cursor: pointer;
}

.main-top-bar .search-bar .contant-area .cart-area .user-profile-area .user-area {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-top-bar .search-bar .contant-area .cart-area .user-profile-area .user-area .profile-pic {
  position: relative;
}

.main-top-bar .search-bar .contant-area .cart-area .user-profile-area .user-area .profile-pic img {
  width: 3rem;
  height: 3rem;
  -webkit-border-radius: 3rem;
          border-radius: 3rem;
  border: solid #40ceb2 0.2rem;
}

.main-top-bar .search-bar .contant-area .cart-area .user-profile-area .user-area .profile-pic:after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  bottom: -23px;
  left: 5px;
  z-index: 9999;
  border: solid #d8d8d8 0.1rem;
  border-right: 0;
  border-bottom: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .search-bar .contant-area .cart-area .user-profile-area .user-area .user-name {
  margin-left: 0.5rem;
  position: relative;
}

.main-top-bar .search-bar .contant-area .cart-area .user-profile-area .user-area .user-name span {
  color: #444444;
  font-size: 1.4rem;
  font-weight: 500;
}

.main-top-bar .search-bar .contant-area .cart-area .user-profile-area .user-area .user-name .user-account-area {
  position: absolute;
  width: 20rem;
  height: auto;
  padding: 1.5rem 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
  top: 40px;
  right: 0;
  border-bottom: solid 0.5rem #40ceb2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .search-bar .contant-area .cart-area .user-profile-area .user-area .user-name .user-account-area a {
  display: block;
  text-decoration: none;
  color: #8b8b8b;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.5rem 0;
  text-align: center;
  border-bottom: solid 0.1rem #acaaaa;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.main-top-bar .search-bar .contant-area .cart-area .user-profile-area .user-area .user-name .user-account-area a:last-child {
  border-bottom: 0;
}

.main-top-bar .search-bar .contant-area .cart-area .user-profile-area .user-area .user-name .user-account-area a:hover {
  background-color: #eaf5f1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.main-top-bar .search-bar .contant-area .cart-area .user-profile-area:hover .profile-pic:after {
  visibility: visible;
  opacity: 1;
  z-index: 9999;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .search-bar .contant-area .cart-area .user-profile-area:hover .user-name .user-account-area {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .menu-bar {
  height: 3rem;
  background-color: #fff;
  color: #fff;
  border-top: 0.1rem solid #cfcfcf;
}

.main-top-bar .menu-bar .navbar {
  padding: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main-top-bar .menu-bar .left-side a {
  text-decoration: none;
  display: block;
  font-size: 1.3rem;
  color: #444444;
  text-transform: capitalize;
  padding-right: 2rem;
  font-weight: 600;
  line-height: 30px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.main-top-bar .menu-bar .left-side a:hover {
  color: #ff4d00;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.main-top-bar .menu-bar .left-side .product-menu-area {
  position: relative;
  margin-right: 1rem;
}

.main-top-bar .menu-bar .left-side .product-menu-area .all-categorise {
  padding: 0 1rem;
  width: 20rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid #cfcfcf;
  border-top: 0;
  border-bottom: 0;
  color: #444444;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.main-top-bar .menu-bar .left-side .product-menu-area .all-categorise .list-icon-text i {
  padding: 8px 0;
}

.main-top-bar .menu-bar .left-side .product-menu-area .all-categorise .list-icon-text a {
  text-transform: uppercase;
  margin-left: .5rem;
  font-weight: 600;
}

.main-top-bar .menu-bar .left-side .product-menu-area .all-categorise i {
  font-size: 1.4rem;
}

.main-top-bar .menu-bar .left-side .product-menu-area .mega-menu-area {
  position: absolute;
  background-color: #fff;
  padding: 1rem 1rem;
  -webkit-box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
  top: 30px;
  visibility: hidden;
  opacity: 0;
  width: 20rem;
  border-bottom: solid 0.5rem #40ceb2;
  -webkit-transform: translate3d(0, -1rem, 0);
          transform: translate3d(0, -1rem, 0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .menu-bar .left-side .product-menu-area .mega-menu-area .category-col a {
  display: block;
  padding-right: 0rem;
  line-height: 35px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #acaaaa;
  border-top: solid 0.1rem #cfcfcf;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.main-top-bar .menu-bar .left-side .product-menu-area .mega-menu-area .category-col a i {
  font-size: 1.3rem;
  width: 2rem;
}

.main-top-bar .menu-bar .left-side .product-menu-area .mega-menu-area .category-col a:first-child {
  border-top: 0;
}

.main-top-bar .menu-bar .left-side .product-menu-area .mega-menu-area .category-col a:hover {
  color: #ff4d00;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.main-top-bar .menu-bar .left-side .product-menu-area .mega-menu-area .category-col img {
  width: 20rem;
  height: auto;
}

.main-top-bar .menu-bar .left-side .product-menu-area:hover .all-categorise {
  background-color: #40ceb2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-top-bar .menu-bar .left-side .product-menu-area:hover .all-categorise a {
  color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.main-top-bar .menu-bar .left-side .product-menu-area:hover .all-categorise i {
  color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.main-top-bar .menu-bar .left-side .product-menu-area:hover .mega-menu-area {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-section {
  background-color: #fbfbfb;
  color: rgba(0, 0, 0, 0.54);
}

.footer-section .content-area {
  padding: 6rem 0;
  border-top: solid 0.5rem #40ceb2;
}

.footer-section .content-area .contain .heading {
  margin-bottom: 2rem;
}

.footer-section .content-area .contain .heading h5 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
}

.footer-section .content-area .contain .link-area ul li {
  list-style: none;
}

.footer-section .content-area .contain .link-area ul li a {
  display: inline-block;
}

.footer-section .content-area .contain .link-area a {
  display: block;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: .5rem;
}

.footer-section .content-area .contain .link-area a:hover {
  color: #ff4d00;
}

.footer-section .content-area .contain .link-area .social-link-area {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-section .content-area .contain .link-area .social-link-area i {
  font-size: 2rem;
  margin-right: .5rem;
}

.footer-section .content-area .contain .link-area img {
  width: 90%;
  height: auto;
}

.footer-section .content-area .contain .logistics-h {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.footer-section .content-area .contain .logistics-img img {
  width: 90%;
}

.footer-section .content-area .contain .app-bercod-img img {
  width: 100%;
  height: auto;
}

.footer-section .bottom-area {
  background-color: #40ceb2;
  text-align: center;
  padding: 1rem 0;
}

.footer-section .bottom-area .copy-write {
  color: #eaf5f1;
  font-size: 1.2rem;
  font-weight: 600;
}

.main-section-search-result {
  padding: 3rem 0;
}

.main-section-search-result .search-filter {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20rem;
      -ms-flex: 0 0 20rem;
          flex: 0 0 20rem;
  min-width: 0;
  margin-right: 2rem;
}

.main-section-search-result .search-filter .category {
  background-color: #fff;
}

.main-section-search-result .search-filter .category .filter-text {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  color: #acaaaa;
  font-weight: 600;
  display: block;
  border-bottom: solid 0.1rem #F5F5F5;
}

.main-section-search-result .search-filter .category .accordion {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-section-search-result .search-filter .category .accordion .card {
  margin: 0;
  padding: 0;
  border: 0;
}

.main-section-search-result .search-filter .category .accordion .card .card-header {
  background-color: #fff;
  border: 0;
  margin: 0;
  padding: 0;
}

.main-section-search-result .search-filter .category .accordion .card .card-body {
  margin: 0;
  padding: 0;
}

.main-section-search-result .search-filter .sub-section {
  border: solid 0.1rem #cfcfcf;
  border-bottom: 0;
  padding: 2rem 1rem;
  background-color: #fff;
}

.main-section-search-result .search-filter .sub-section .heading {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #444444;
  margin-bottom: 1rem;
}

.main-section-search-result .search-filter .sub-section .heading h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
}

.main-section-search-result .search-filter .sub-section .heading i {
  font-size: 1.6rem;
  color: #ff4e00;
}

.main-section-search-result .search-filter .sub-section .search-option a {
  color: #8b8b8b;
  font-size: 1.4rem;
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 2.5rem;
}

.main-section-search-result .search-filter .sub-section .search-option a .item-count {
  margin-left: 0.5rem;
  color: #40ceb2;
  font-size: 1.2rem;
  font-weight: 500;
}

.main-section-search-result .search-filter .sub-section .search-option a:hover {
  color: #ff4e00;
  background-color: #eaf5f1;
}

.main-section-search-result .search-filter .sub-section .search-option a:hover .item-count {
  color: #ff4e00;
}

.main-section-search-result .search-filter .sub-section .search-option .custom-control-label {
  cursor: pointer;
  margin-bottom: 1rem;
}

.main-section-search-result .search-filter .sub-section .search-option .custom-control-label img {
  width: 10rem;
}

.main-section-search-result .search-filter .sub-section .search-option input {
  font-size: 1.2rem;
  color: #8b8b8b;
  font-weight: 500;
  margin: .8rem 0;
}

.main-section-search-result .search-filter .sub-section .search-option .primary-btn {
  font-size: 1.4rem;
  padding: .3rem 6rem;
  width: 100%;
}

.main-section-search-result .search-filter .sub-section .primary-btn {
  font-size: 1.4rem;
  padding: .3rem 0rem;
  width: 100%;
  text-transform: uppercase;
}

.main-section-search-result .search-filter .sub-section:last-child {
  border-bottom: solid 0.1rem #cfcfcf;
}

.main-section-search-result .search-filter-product-area {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 0;
  min-width: 0;
}

.main-section-search-result .search-filter-product-area .product-sortBy-menu {
  background-color: #fff;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section-search-result .search-filter-product-area .product-sortBy-menu .left-side-option .sortby {
  font-size: 1.4rem;
  font-weight: 600;
  color: #acaaaa;
}

.main-section-search-result .search-filter-product-area .product-sortBy-menu .left-side-option .option-by {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  width: 8rem;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin-left: 1rem;
  background-color: #40ceb2;
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.main-section-search-result .search-filter-product-area .product-sortBy-menu .left-side-option .option-by.actived {
  background-color: #ff4d00;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.main-section-search-result .search-filter-product-area .product-sortBy-menu .left-side-option .option-by:hover {
  background-color: #ff4d00;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.main-section-search-result .search-filter-product-area .product-sortBy-menu .right-side-option .input-group {
  width: 18rem;
}

.main-section-search-result .search-filter-product-area .product-sortBy-menu .right-side-option .input-group select {
  height: 3.2rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.main-section-search-result .search-filter-product-area .product-sortBy-menu .right-side-option .input-group select option {
  font-size: 1.4rem;
  font-weight: 600;
}

.main-section-search-result .search-filter-product-area .product-sortBy-menu .right-side-option .input-group .custom-select:focus {
  border-color: #ff4d00;
  outline: 0;
  -webkit-box-shadow: 0 0px 2px 0 rgba(236, 115, 1, 0.2), 0 0px 2px 0 rgba(255, 73, 1, 0.781);
          box-shadow: 0 0px 2px 0 rgba(236, 115, 1, 0.2), 0 0px 2px 0 rgba(255, 73, 1, 0.781);
}

.product-card {
  position: relative;
  width: 20rem;
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  border: solid 0.1rem #cfcfcf;
  border-bottom: solid 0.5rem #40ceb2;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-bottom: 2rem;
}

.product-card .product-image-area {
  width: 100%;
  height: 20rem;
}

.product-card .product-image-area img {
  width: 100%;
  height: 100%;
}

.product-card .product-heading {
  margin: 2rem 0;
  padding: 0 0.5rem;
  height: 4rem;
}

.product-card .product-heading h4 {
  color: #444444;
  line-height: 20px;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card .product-price {
  padding: 0 0.5rem;
}

.product-card .product-price .price {
  font-size: 1.3rem;
  font-weight: 500;
  color: #acaaaa;
  line-height: 20px;
}

.product-card .product-price .before-price {
  position: relative;
  padding-left: 0.5rem;
}

.product-card .product-price .before-price strong {
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 0.1rem;
}

.product-card .product-price .before-price::after {
  content: "";
  position: absolute;
  border: solid 0.01rem #cfcfcf;
  background-color: #cfcfcf;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 1;
}

.product-card .product-price .after-price {
  color: #f5814f;
  margin-left: 1rem;
}

.product-card .product-price .after-price strong {
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 0.1rem;
}

.product-card .p-card-footer {
  padding: 1rem 0.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card .p-card-footer .rating {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card .p-card-footer .rating img {
  width: 7.5rem;
  height: auto;
}

.product-card .p-card-footer .rating .p-sold-count {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.2rem;
  color: #444444;
}

.product-card .p-card-footer .shop-location h4 {
  font-size: 1.3rem;
  color: #8b8b8b;
}

.product-card .special-tag {
  position: absolute;
  top: 0px;
  left: 0;
  background-color: #40ceb2c5;
  -webkit-border-bottom-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
  padding: .1rem .6rem;
  margin: 0;
  -webkit-box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  opacity: .8;
}

.product-card .special-tag .p-special-tag {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.product-card .offer-percent {
  position: absolute;
  top: 0;
  right: 0;
  padding: .9rem .7rem;
  background-color: #ff4d008f;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  -webkit-border-bottom-left-radius: 2rem;
          border-bottom-left-radius: 2rem;
  line-height: 11px;
  -webkit-box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  border-color: #f5814f;
  -webkit-box-shadow: 0 0px 2px 0 rgba(236, 115, 1, 0.2), 0 0px 2px 0 rgba(255, 73, 1, 0.781);
          box-shadow: 0 0px 2px 0 rgba(236, 115, 1, 0.2), 0 0px 2px 0 rgba(255, 73, 1, 0.781);
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.magnifier {
  border: solid 0.3rem #40ceb2 !important;
}

.section-product-detalis {
  padding-top: 13rem;
}

.section-product-detalis .container .main-contain {
  background-color: #fff;
  padding: 1.5rem 1rem;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
}

.section-product-detalis .slick-dots {
  display: none !important;
}

.section-product-detalis .dis-image-area {
  padding: 1rem;
  width: 100%;
  height: auto;
  background-color: #fff;
  text-align: center;
}

.section-product-detalis .dis-image-area img {
  width: 100%;
  height: auto;
}

.section-product-detalis .small-img {
  padding: 0.5rem;
  height: auto;
  cursor: pointer;
  background-color: #fff;
}

.section-product-detalis .small-img img {
  width: 100%;
  height: auto;
  border: solid 0.3rem #fff;
}

.section-product-detalis .slider-nav .slick-prev {
  left: 0px;
  z-index: 9999;
}

.section-product-detalis .slider-nav .slick-next {
  right: 0px;
  z-index: 9999;
}

.section-product-detalis .slider-nav .slick-current img {
  border: solid 0.3rem #40ceb2;
}

.section-product-detalis .product-briefing-area {
  background-color: #fff;
  padding: 1rem;
}

.section-product-detalis .product-briefing-area .heading h1 {
  font-size: 2.8rem;
  font-weight: 600;
  color: #444444;
}

.section-product-detalis .product-briefing-area .rating-area {
  background-color: #eaf5f1;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.6rem 1rem;
}

.section-product-detalis .product-briefing-area .rating-area .comon-div {
  padding: 0.5rem 1rem;
  border-right: solid 0.1rem #cfcfcf;
}

.section-product-detalis .product-briefing-area .rating-area .comon-div:last-child {
  border: 0;
}

.section-product-detalis .product-briefing-area .rating-area span,
.section-product-detalis .product-briefing-area .rating-area h5 {
  font-size: 1.6rem;
  color: #444444;
  font-weight: 600;
}

.section-product-detalis .product-briefing-area .rating-area span {
  margin-right: 0.5rem;
}

.section-product-detalis .product-briefing-area .rating-area .ster-image img {
  width: 10rem;
}

.section-product-detalis .product-briefing-area .special-servise .special-word {
  font-size: 1.2rem;
  font-weight: 700;
  display: inline-block;
  background-color: #40ceb2;
  margin-right: 1rem;
  color: #fff;
  padding: 0.5rem 1rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
}

.section-product-detalis .product-briefing-area .product-price {
  margin: 3rem 0;
}

.section-product-detalis .product-briefing-area .product-price h1 {
  color: #ff4e00;
  font-size: 3rem;
  font-weight: 700;
}

.section-product-detalis .product-briefing-area .product-variation h4 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #8b8b8b;
  margin-top: 1.5rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 12rem;
      -ms-flex: 0 0 12rem;
          flex: 0 0 12rem;
}

.section-product-detalis .product-briefing-area .product-variation .variation-count .v-list {
  width: auto;
  display: inline-block;
}

.section-product-detalis .product-briefing-area .product-variation .variation-count a {
  display: inline-block;
  font-size: 1.5rem;
  color: #8b8b8b;
  font-weight: 600;
  border: solid 0.1rem #cfcfcf;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.section-product-detalis .product-briefing-area .product-variation .variation-count .select {
  color: #ff4d00;
  border-color: #ff4d00;
}

.section-product-detalis .product-briefing-area .product-variation .variation-count a:hover {
  color: #ff4d00;
  border-color: #ff4d00;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.section-product-detalis .product-briefing-area .quantity-area {
  margin-top: 1rem;
}

.section-product-detalis .product-briefing-area .quantity-area h4 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #8b8b8b;
  margin-top: 1.5rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 12rem;
      -ms-flex: 0 0 12rem;
          flex: 0 0 12rem;
}

.section-product-detalis .product-briefing-area .quantity-area .form-group {
  margin-top: 1rem;
}

.section-product-detalis .product-briefing-area .quantity-area .form-group input {
  height: 3.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #444444;
  width: 8rem;
}

.section-product-detalis .product-briefing-area .quantity-area .item-available h6 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #8b8b8b;
}

.section-product-detalis .product-briefing-area .quantity-area .item-available span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #8b8b8b;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.section-product-detalis .product-briefing-area .button-area {
  width: 37rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-product-detalis .comon-section {
  background-color: #fff;
  padding-bottom: .5rem;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
}

.section-product-detalis .comon-section .text-area {
  margin: 2rem 2rem;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  padding: 2rem;
  background-color: #F5F5F5;
  font-size: 1.5rem;
  font-weight: 500;
  color: #8b8b8b;
}

.section-product-detalis .product-rating .rating-navigration {
  background-color: #F5F5F5;
  padding: 2rem;
  margin: 2rem;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
}

.section-product-detalis .product-rating .rating-navigration .rating-display {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 14rem;
      -ms-flex: 0 0 14rem;
          flex: 0 0 14rem;
}

.section-product-detalis .product-rating .rating-navigration .rating-display .rating-star .rating-star-count {
  font-size: 3rem;
  font-weight: 600;
  color: #ff4d00;
  margin-right: .6rem;
}

.section-product-detalis .product-rating .rating-navigration .rating-display .rating-star h5 {
  font-size: 2rem;
  color: #8b8b8b;
}

.section-product-detalis .product-rating .rating-navigration .rating-display img {
  width: 10rem;
}

.section-product-detalis .product-rating .rating-navigration .navigration-option {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.section-product-detalis .product-rating .rating-navigration .navigration-option .v-list {
  width: auto;
  display: inline-block;
}

.section-product-detalis .product-rating .rating-navigration .navigration-option a {
  display: inline-block;
  font-size: 1.5rem;
  background-color: #fff;
  color: #8b8b8b;
  font-weight: 600;
  border: solid 0.1rem #cfcfcf;
  padding: 0.5rem 1rem;
  margin-right: .8rem;
  margin-top: 1rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.section-product-detalis .product-rating .rating-navigration .navigration-option .select {
  color: #ff4d00;
  border-color: #ff4d00;
}

.section-product-detalis .product-rating .rating-navigration .navigration-option a:hover {
  color: #ff4d00;
  border-color: #ff4d00;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.section-product-detalis .customar-comment-area {
  padding: 0 2rem;
}

.section-product-detalis .customar-comment-area .single-customer {
  border-bottom: solid 0.1rem #cfcfcf;
  margin-top: 3rem;
}

.section-product-detalis .customar-comment-area .single-customer:last-child {
  border: 0;
}

.section-product-detalis .customar-comment-area .customer-pic {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 6rem;
      -ms-flex: 0 0 6rem;
          flex: 0 0 6rem;
}

.section-product-detalis .customar-comment-area .customer-pic img {
  width: 100%;
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  border: solid 0.2rem #cfcfcf;
}

.section-product-detalis .customar-comment-area .customaer-info {
  padding: 1rem 1rem;
}

.section-product-detalis .customar-comment-area .customaer-info h5 {
  font-size: 1.2rem;
  color: #acaaaa;
}

.section-product-detalis .customar-comment-area .customaer-info .given-star img {
  width: 7rem;
  margin: .5rem 0;
}

.section-product-detalis .customar-comment-area .customaer-info .variation {
  font-size: 1.2rem;
  color: #acaaaa;
}

.section-product-detalis .customar-comment-area .customaer-info .user-comment {
  width: 80%;
  font-weight: 600;
  font-size: 1.5rem;
  color: #444444;
  margin: .8rem 0;
}

.section-product-detalis .customar-comment-area .customaer-info .user-upload-product-pic img {
  width: 6rem;
  height: auto;
  cursor: pointer;
}

.section-product-detalis .customar-comment-area .customaer-info .date-time {
  font-size: 1.2rem;
  color: #acaaaa;
  margin-top: 2rem;
}

.slider-section {
  padding: 0 0;
  padding-top: 12rem;
  background-color: #fff;
}

.slider-section .carousel-inner .carousel-item .carousel-caption {
  text-align: left;
}

.slider-section .carousel-inner .carousel-item .carousel-caption h5 {
  font-size: 3.5rem;
  color: #444444;
  font-weight: 600;
  margin-bottom: 1rem;
  text-shadow: 0 3px 2px rgba(53, 0, 0, 0.3);
}

.slider-section .carousel-control-prev,
.slider-section .carousel-control-next {
  width: 5%;
}

.category-section {
  padding: 3rem 0;
}

.category-section .row .item-box {
  background-color: #fff;
  width: 10%;
  border: solid 0.05rem #cfcfcf;
  border-right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 100%;
}

.category-section .row .item-box .img-area {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  padding: 20%;
  height: auto;
}

.category-section .row .item-box .img-area img {
  width: 100%;
  height: auto;
}

.category-section .row .item-box span {
  width: 90%;
  text-align: center;
  color: #8b8b8b;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
  height: 3.5rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.category-section .row .item-box:hover {
  border-color: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.category-section .row .item-box:hover span {
  color: #ff4d00;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.category-section .row .item-box:last-child {
  border-right: solid 0.05rem #cfcfcf;
}

@media (min-width: 1200px) {
  .main-section-home .main-product-area .col-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .main-section-search-result .main-product-area .col-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}
